<div class="container text-center">

    <div class="row text-center" id="item">

        <div class="col">

            <img style="width: 60px; height: 60px;" src="https://www.weatherbit.io/static/img/icons/{{ weather?.weatherImage }}.png" alt="Weather image">

        </div>


        <div class="col">

            <p style="padding-top: 10%;"> {{ weather?.cityName }} </p>
            
        </div>

        <div class="col">

            <p style="padding-top: 10%;"> {{ weather?.temperature }} </p>

        </div>
    </div>

</div>
