<h2 style="margin-top: 55px;">Weather details</h2>

<div class="container" id="nesto" style="border: 4px solid purple; border-radius: 45px; margin-top: 35px;">

    <div class="row">

        <div class="col">

            <img src="https://www.weatherbit.io/static/img/icons/{{ currentWeather?.weatherImage}}.png" alt="Current weather situation">

        </div>

    </div>

    <div class="row">

        <div class="col">

            <p>{{ currentWeather?.temperature }}</p>

        </div>
        
        
    </div>

    <div class="row">

        <div class="col">

            <p>{{ currentWeather?.windSpeed }}</p>

        </div>
        
        
    </div>

    <div class="row">

        <div class="col">

            <p>{{ currentWeather?.description }}</p>

        </div>
        
    </div>

    <div class="row">

        <div class="col">

            <p>{{ currentWeather?.date }}</p>

        </div>
        
    </div>

    <div class="row">

        <div class="col">

            <p>{{ currentWeather?.cityName }}</p>

        </div>
        
    </div>

</div>
